*{
	margin:0;
	padding: 0;
}

a{
	color: white;
}

a:hover{
	color: white;
}

#BackgroundPrincipal{
	position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -2;
  background-size: cover;
  background-position: center 0px;
  background-repeat: no-repeat;
  overflow: hidden;
}

.form-box{
	width: 380px;
	height: 480px;
	position: relative;
	margin:6% auto;
	background: transparent;
	padding: 5px;
}
.button-box{
	width: 220px;
	margin: 35px auto;
	position: relative;
	border-radius: 30px;
}
.toggle-btn{
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
}
#btn{
	top: 0;
	left: 0;
	position: absolute;
	width: 130px;
	height: 100%;
	background-color:#ff7043;
	border-radius:30px; 
}
.input-group{
	left: 50px;
	top: 120px;
	position: absolute;
	width: 280px;
}
.input-field{
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
}
.submit-btn{
	width: 85%;
	padding: 10px 30px; 
	cursor: pointer;
	display: block;
	margin: auto;
	margin-top: 50px;
	background-color:#ff7043;
	border: 0;
	outline: none;
	border-radius: 30px;
	color: white;
}
.chech-box{
	margin: 30px 10px 30px 0;
}

#g2{
	display: none;
}

#divHeader{
	background-color: #ff7043;
	width: 100%;
	height: 86px !important;
	text-align: center;
	position: relative;
	border-bottom: 3px solid brown;
}

.grid{
	margin: 0px !important;
}

#divHeader h1{
	position: relative;
	margin-top: -15px;
	font-size: 600%;
	background: -webkit-linear-gradient(#fff 50%, #ff7043);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

#divHeader p{
	font-size: 22px;
	color: white;
	margin-top: 25px;
	margin-right: 50px;
	line-height: 4px;
}

#divHeader a{
	font-size: 20px;
	width: 100%;
}

#divHeader .header{
	font-size: 20px;
}

#divHeader a:hover{
	background-color: #ff7043;
	color: white;
}

#divMenuVertical{
	display: none;
	margin-top: 86px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 18px;
  cursor: pointer;
  transition: 0.4s ease-out;
}

.linea-1,
.linea-2,
.linea-3 {
  width: 50px;
  height: 10px;
  background: -webkit-linear-gradient(right, #fff 50%, #ff7043);
  margin: 3px 0px;
  transition: 0.4s ease-out;
}

.change .linea-1 {
  transform: rotate(-45deg) translate(3px, 8px);
  position: absolute;
}

.change .linea-2 {
  opacity: 0;
}

.change .linea-3 {
  transform: rotate(45deg) translate(3px, -6px);
}

.column{
	padding: 0px !important;
}

#divInicio .card{
	margin-top: 50px;
	text-align: center;
	font-size: 20px;
}

.hidden{
	font-size: 20px !important;
}

.description{
	margin-top: 5px;
	margin-bottom: 10px;
}

.button{
	margin: 5px !important;
	width: 140px;
}

#infoCard1{
	position: absolute;
	top: 20%;
	left: 50%;
	height: 30%;
	width: 50%;
}

#infoCard2{
	position: absolute;
	top: 32%;
	left: 50%;
	height: 30%;
	width: 50%;
}

#infoCard3{
	position: absolute;
	top: 25%;
	left: 50%;
	height: 30%;
	width: 50%;
}

#divSnacks{
	background-color: #ce9f74;
	width: 920px;
	height: 450px;
	border-radius: 20px;
	margin-top: 50px;
	margin-left: 228px;
	color: white;
	text-align: center;
}

#botonComprar{
	width: 100px;
	margin: 0px !important;
	margin-top: 150% !important;
}

#botonSnacks{
	height: 340px;
	width: 100px;
	margin-left: 800px;
	margin-top: -340px;
}

#botonSnacks a{
	color: #3f4041;
}

#divSnacks h1{
	font-size: 55px;
	margin-bottom: 0px !important;
}

#menuSnacks{
	background-color: #ba7a3e;
	height: 340px;
	width: 100px;
	border-radius: 20px;
	margin: 20px;
	flex-direction: column;
}

#productosSnacks{
	background-color: #;
	height: 340px;
	width: 640px;
	margin-left: 140px;
	margin-top: -360px;
	overflow : auto;
}

.CategoriaSnack{
	align-content: center;
	opacity: 50%;
}

.CategoriaSnack:hover{
	opacity: 100%;
	cursor: pointer;
}

.brillo{
	opacity: 100%;
}

.CategoriaSnack img{
	width: 50px;
	height: 50px;
	margin-top: 5px;
}

#divImgProducto{
	background-color: transparent !important;
}

.CategoriaSnack p{
	font-size: 18px;
}

#productosSnacks .card{
	height: 58%;
}

#productosSnacks .extra{
	padding: 0px !important;
}

#productosSnacks button{
	width: 10px;
}

#productosSnacks #p{
	margin-top: 14px;
	margin-left: 55px;
	border-radius: 50%;
	background-color: white;
	font-size: auto;
	position: absolute;
	height: 25px;
	width: 25px;
	align-content: center;
}

#productosSnacks img{
	width: 90px;
	height: 90px;
	margin-left: 25px;
	margin-top: -10px;
}

#productosSnacks .meta{
	font-size: 20px;
}

#productosSnacks .header{
	margin-top: -10px !important;
}

#divPedido{
	background-color: #ce9f74;
	width: 700px;
	height: 450px;
	border-radius: 20px;
	margin-top: 50px;
	margin-left: 338px;
	color: white;
	text-align: center;
	align-content: center;
}

#divPedido h1{
	font-size: 55px;
	margin-bottom: 0px !important;
}

#divPedido .card{
	position: relative;
	text-align: left;
	width: auto;
	margin: 15px;
}

#divPedido .header{
	font-size: 22px;
}

#divPedido .meta{
	font-size: 20px;
}

#divPedido .grid{
	color: black;
	padding: 14px;
}

#divPedido .grid{
	color: black;
	padding: 14px;
	font-size: 18px;
}

#totalPedido{
	text-align: right;
	margin-right: 47px;
}

#Pedido{
	background-color: ;
	height: 365px;
	width: 686px;
	margin-left: 0px;
	margin-top: 0px;
	overflow : auto;
}