body{
    background-color: peru;
}
h1{
    color: white;
}
#titulo{
    text-align: center;
}

.grupo{
    background: #88501d !important;
    color: white !important;
}

.descripcion{
    color: lightcyan !important;
}