#formulario{
    width: 700px;
    height: 450px;
}
select{
    width: 25% !important;
    margin-left: 37.5%;
}
#contenido{
    text-align: center;
    align-items: center;
}
body{
    color: white;
    background: brown;
}

