body{
	background-color:white ;
}

#tabla{
	margin: 150px auto;
	width: 800px;
	margin-top: 30px;
}
table{
	width: 100%;
	background-color: white;
	text-align: left;
	border: red 1px ;
}

th, td{
	padding: 10px;
}

thead{
	background-color: #ff7043;
	border-bottom: solid 5px #f25c33;
	color:white;
}

tr:nth-child(even){
	background-color: #ddd;
}
.carril:hover {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);

}
#mataria_derecho{
	display: none;
}
#materia{
	background-color: black !important;
	border-bottom: solid 5px #f25c33;
	color:white;
}
#tablamateria{
	margin-left: 50px !important;
}
#derecho_b{
	margin-left: 460px !important;
	background-color:#ff7043 !important;
	color: white !important;
}
#publicidad_b{
	margin-left: 495px !important;
	background-color:#ff7043 !important;
	color: white !important;
}
#administracion_b{
	margin-left: 245px !important;
	background-color:#ff7043 !important;
	color: white !important;
}
#ingeneria_b{
	margin-left: 360px !important;
	background-color:#ff7043 !important;
	color: white !important;
}
#deporte_b{
	margin-left: 330px !important;
	background-color:#ff7043 !important;
	color: white !important;
}
#comunicacion_b{
	margin-left: 357px !important;
	background-color:#ff7043 !important;
	color: white !important;
}
#musica_b{
	margin-left: 467px !important;
	background-color:#ff7043 !important;
	color: white !important;
}
#economia_b{
	margin-left:500px !important;
	background-color:#ff7043 !important;
	color: white !important;
}
#humanidades_b{
	margin-left: 388px !important;
	background-color:#ff7043 !important;
	color: white !important;
}
#politica_b{
	margin-left: 285px !important;
	background-color:#ff7043 !important;
	color: white !important;
}
